$primary-1: #77604b;
$primary-2: #6b5644;
$primary-3: #5f4c3c;
$primary-4: #534335;
$primary-5: #47392d;
$primary-6: #5d4c3c;
$primary-7: #2f261e;
$primary-8: #231c16;
$primary-9: #231c16;
$primary-10: #0b0907;
$primary-11: #695f55;

$secondary-1: #595959;
$secondary-2: #4d4d4d;
$secondary-3: #404040;
$secondary-4: #333333;
$secondary-5: #262626;
$secondary-6: #1a1a1a;
$secondary-7: #000000;

$danger-1: #fff1f0;
$danger-2: #ffccc7;
$danger-3: #ffa39e;
$danger-4: #ff7875;
$danger-5: #ff4d4f;
$danger-6: #f5222d;
$danger-7: #cf1322;
$danger-8: #a8071a;
$danger-9: #820014;
$danger-10: #5c0011;
$danger-11: #e60003;

$success-1: #f6ffed;
$success-2: #d9f7be;
$success-3: #b7eb8f;
$success-4: #95de64;
$success-5: #73d13d;
$success-6: #52c41a;
$success-7: #389e0d;
$success-8: #237804;
$success-9: #135200;
$success-10: #092b00;

$warning-1: #fffbe6;
$warning-2: #fff1b8;
$warning-3: #ffe58f;
$warning-4: #ffd666;
$warning-5: #ffc53d;
$warning-6: #faad14;
$warning-7: #d48806;
$warning-8: #ad6800;
$warning-9: #874d00;
$warning-10: #613400;

$dust: #f5222d;
$gold: #bf9425;
$blue: #094067;
$white: #fff;
$black: #000;
$gray-1: #c4c4c4;
$neutra-3: #f5f5f5;
$neutra-2: #fafafa;
$neutra-5: #d9d9d9;
$dustRed-1: #fff1f0;
$dustRed-2: #ffccc7;
$white-100: #f5f5f5;

$main-button-color: #635bff;

// shadow
$card-hover: 0 8px 8px rgba(0, 0, 0, 0.08);
$card-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
$card-active: 0 8px 8px rgba(0, 0, 0, 0.16);
$button-hover: 0 8px 8px rgba(83, 67, 53, 0.08);
$button-diable: 0 8px 8px rgba(83, 67, 53, 0.08);
$search-contant: 0 16px 20px rgba(0, 0, 0, 0.02);
$input-focus: 0 0 0 2px rgba(71, 57, 45, 0.2);
$input-error: 0 0 0 2px rgba(241, 67, 54, 0.2);
$slidbar-tablet: 0 8px 8px rgba(93, 76, 60, 0.16);

// rgba colors
$rgba-01: rgba(105, 95, 85, 0.1);
$rgba-02: rgba(38, 38, 38, 0.2);
$rgba-04: rgba(38, 38, 38, 0.4);
$rgba-05: rgba(93, 76, 60, 0.5);
$rgba-06: rgba(93, 76, 60, 1);
$rgba-25: rgba(0, 0, 0, 0.25);
$rgba-45: rgba(0, 0, 0, 0.45);
$rgba-65: rgba(0, 0, 0, 0.65);
$rgba-75: rgba(0, 0, 0, 0.75);
$rgba-85: rgba(0, 0, 0, 0.85);
$rgba-214: rgba(214, 214, 214, 1);
$rgba-white: rgba(255, 255, 255, 0.8);
$primary-1-rgba: rgba(156, 152, 146, 0.2);
$rgba-category-active: rgba(105, 95, 85, 0.1);
$dropdown-acitve-item: rgba(9, 64, 103, 0.1);
