.list {
  @extend %flex-center;
  gap: 32px;

  @include breakpoint(desktop-l) {
    gap: 20px;
  }

  &__link {
    @extend %body-regular-14;
    @extend %header-text;
    padding: 4px 0;
    color: $white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }

  &__category_link {
    &:hover {
      & + .subcategories {
        display: flex;
      }
    }
  }

  .subcategories {
    @extend %flex-center;
    @extend %body-regular-14;
    text-align: center;
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;

    @include breakpoint(desktop) {
      display: none !important;
    }

    &:hover {
      display: flex;
    }

    &__links {
      @extend %flex-center;
      gap: 32px;
      padding: 10px 0;
      background: $white;

      a {
        @extend %header-text;
      }

      &__sale {
        color: $danger-6 !important;
      }
    }

    &_background {
      z-index: -10;
      background: $white;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  &__button {
    border-radius: 8px;

    &:hover {
      background-color: $white;
    }
  }
}
